bin/
obj/
Logs/
node_modules/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.txt
GEMINI.md
izpiski_isoxml_202603.zip
izpiski_pdf_zdruzeni_202603.zip
new_xml_check_report01.txt
new_xml_check_report02.txt
new_xml_check_report03.txt
new_xml_check_report04.txt
run.bat
Dockerfile
202603-revolut.csv
202603-revolut.xml
appsettings.Development.json
.geminiignore